.button {
    
    color: white;
    padding: 10px 70px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor:pointer;
}
.button1 {
    background-color: red;
    color: black;
    border: 2px solid red;
}
.button2 {
    background-color: green;
    color: black;
    border: 2px solid green;
}
.button3 {
    background-color: blue;
    color: black;
    border: 2px solid blue;
}
.button4 {
    background-color: yellow;
    color: black;
    border: 2px solid yellow;
}
.button5 {
    background-color: red;
    color: black;
    border: 2px solid red;
}
.button6 {
    background-color: green;
    color: black;
    border: 2px solid green;
}
.button7 {
    background-color: blue;
    color: black;
    border: 2px solid blue;
}
.button8 {
    background-color: yellow;
    color: black;
    border: 2px solid yellow;
}