* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #de9528;
}

.bigBoy {
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
  
}

.item-container {
    display: flex;
    flex-direction: row;
    
}
.item-container1 {
    background-color: #d058d6;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: dotted;
    
    
}

.item-container2 {
    background-color: #d058d6;
    display: flex;
    flex-direction: column;
   
    justify-content: space-between;
    border: dotted;
    
}

.container {

    background-color: #e081e6;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-style: dashed;
    padding: 10px;
    flex-direction: row;
    
}

.item {
    background-color: #f1425d;
    padding:10px;
    margin: 10px;
    color: #fff;
    font-size: 20px;
    

}
.i1 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    
}

.item1 {
    margin: 5px;
    padding: 5px;
    font-size: 15px;
    background-color: #f1425d;
    display: flex;
    align-items: center;
    
}

