* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


h1 {
    color: green;
    font-size: 50px;
    font-family: 'Courier New';
    margin-bottom: 20px;
}
h2 {
    color: #000;
    font-size: 40px;
    font-family: 'Courier New';
    color: red;
    margin-bottom: 10px;
}
h6 {
    color: green;
    font-size: 80px;
    font-family: 'Courier New';
    margin-top: 20px;


}
p {
    color: blue;
}

.linkies {
    font-size: 30px;
}
.cat-pretty {
    font-size: 20px;
    margin-bottom: 20px;
}
.tea {
    font-size: 19px;
}
.hello {
    color:limegreen;
    margin-top: 20px;
}
.pictures {
    margin-top: 20px;
}