* {
    background-color: aliceblue;
}

.Photo {
    width: 185px;
    height: 300px;
}
/* colors
#DE97FE
*/
.Container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.item-container1 {
    background-color: aqua;
}

.item-container2 {
    background-color: yellow;
}

.bar-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;

}

.item-bar {
    flex-wrap: wrap;
    display: flex;
    flex-grow: 1;
    border: 1px solid black;
    background-color:#DE97FE ;
    justify-content: center;
    align-items: baseline;
    font-size: 15px;
    padding: 8px;
}